- if current_user.present?
div(react-component="Home" react-props={currentUser: UserBlueprint.render_as_hash(current_user, view: :profile), tickets: @tickets,  users: @users, submissionUrl: new_ticket_path}.to_json)
